<div class="margin-top-20">
    <div class="inline-block width-40">
      <p class="bemvindo borda-bemvindo">Bem vindo</p>
      <p class="titulo">Um simples conversor de Criptomoedas para o Real Brasileiro.</p>
      <p class="texto-principal">Uma criptomoeda ou cibermoeda é um meio de troca,<br>
      Podendo ser centralizado ou descentralizado que se <br>
      utiliza da tecnologia de blockchain e da criptografia<br>
      para assegurar a validade das transações e a criação<br>
      de novas unidades da moeda.</p>
    <div class="botao-vamos">
      <button class="texto-botao" (click)="direcionar()">Vamos converter</button>
      <img src="assets/img/seta.png">
    </div>
    </div>
    <div  class="inline-block width-40 imagem-principal">
      <img src="assets/img/myProjetCriptoMoney.png">
    </div>
    <div class="linha">
      <hr/>
    </div>
    <fieldset class="fieldset">
      <app-tabela-principal></app-tabela-principal>
    </fieldset>
    
</div>