<div>
    <div class="cabecalho" >
        <img  alt="InvertCripto"
              class="logo"
              src="assets/img/logo2.png"/>
        <li><a routerLink="/home" class="logo-text">InvertCripto</a> </li>
      <ul class="list-style-none cabecalho-text">
        <img  alt="Cambio"
              class="cambio"
              src="assets/img/cambio.png"/>
        <li><a href="" class="cambio-text">Câmbio</a></li>
        <img  alt="Carteira"
              class="carteira"
              src="assets/img/carteira.png"/>
          <li><a href="" class="carteira-text">Carteiras</a></li>
        <img  alt="Configuracao"
              class="configuracao"
              src="assets/img/configuracao.png"/>
        <li><a href="" class="configuracao-text">Configurações</a></li>
        <img  alt="ajuda"
              class="ajuda"
              src="assets/img/ajuda.png"/>
          <li><a href="" class="ajuda-text">Ajuda</a></li>
      </ul>
    </div>
</div>
