<div class="margin-top-5 margin-left-2">
    <p class="tabela-titulo">Converta sua moeda</p>
    <div class="inline-flex">
     <input type="text" class="borda-input" [(ngModel)]="valor">
      <div>
        <button class="botao-converter" (click)="converter()">Converter</button>
      </div>
    </div>
  </div>
  
  <div class="tabela-principal" id="inputConverter">
      <table class="table">
        <thead class="table-cabecalho">
          <tr>
            <th >
              Coin
            </th>
            <th>
              Price
            </th>
            <th>
              Price Change
            </th>
            <th>
              24h Volume
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moeda of moedas | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
              <td>
                <img [src]="moeda.image" alt="{{moeda.name}}" style="width: 2rem;">
                <span>
                  {{moeda.name}}
                </span>
                <span>
                  {{moeda.symbol}}
                </span>
              </td>
              <td class="text-align-center">
                {{moeda.current_price.toLocaleString("pt-BR", { minimumFractionDigits: 6 })}}
              </td>
              <td class="text-align-center">
                {{moeda.price_change_percentage_24h.toLocaleString()}}
              </td>
              <td class="text-align-center">
                {{moeda.total_volume.toLocaleString()}}
              </td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao">
        <pagination-controls class="write" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls> 
      </div>
    </div>
  